.emp-header {
    width: 100%;
    height: 100%;
    background-color: white;
    border-bottom: solid 1px #696969;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .emp-header-buttons {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .emp-header-links {
        display: flex;
        align-items: center;

        span {
            margin-left: 0px;
            color: #696969;
            font-weight: 600;
        }
    }

    i {
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
        color: #696969;
        transition: 0.6s;

        &:hover {
            color: black;
        }
    }
}


.breadcrumb-link {
    color: #696969;
    transition: 0.6s;
    cursor: pointer;
}

.breadcrumb-link:hover {
    color: black;
}

.emp-header-button {
    position: relative;

    button {
        border: solid 2px #708090;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        background-color: #ffffff;
        transition: 0.5s;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #708090;

        &:hover {
            background-color: #a2d5eb;
            border: solid 2px transparent;
            color: black;
        }
    }

    span {
        position: absolute;
        right: -10px;
        top: -5px;
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 3px 6px;
        font-size: 12px;
        font-weight: 700;
    }
}

.emp-header-notification-panel {
    display: none;
    position: absolute;
    height: 550px;
    width: 400px;
    background-color: white;
    right: 85px;
    top: 52px;
    box-shadow: 0px 50px 100px -20px rgba(50, 50, 93, 0.25), 0px 30px 60px -30px rgba(0, 0, 0, 0.3), inset 0px -2px 6px 0px rgba(10, 37, 64, 0.35);
    overflow: auto;
    z-index: 1111;

    .notification-header {
        height: 40px;
        border-bottom: solid 1px #a8a8a8;
        display: flex;
        align-items: center;
        padding: 20px;
    }

    .notification-body {
        cursor: pointer;

        .notification-item {
            padding: 10px 20px;
        }

        .notification-from {
            font-size: 14px;
            font-weight: 600;
        }

        .notification-message {
            font-size: 14px;
        }

        .notification-timestamp {
            display: flex;
            justify-content: space-between;
            font-size: 12px;
        }
    }

    .notification-item:hover {
        background-color: #c9e0ed;
    }
}

.notification-item.read {
    background-color: #f0f0f0;
}

.notification-item.unread {
    background-color: #b4d3e0;
    font-weight: bold;
}

.emp-header-notification-panel.show {
    display: block;
}

.emp-header-button-notification {}

.emp-header-button-user {
    margin-right: 30px;

    .emp-header-message-panel {
        display: none;
        position: absolute;
        height: 316px;
        width: 350px;
        background-color: white;
        right: 25px;
        top: 52px;
        box-shadow: 0px 50px 100px -20px rgba(50, 50, 93, 0.25), 0px 30px 60px -30px rgba(0, 0, 0, 0.3), inset 0px -2px 6px 0px rgba(10, 37, 64, 0.35);
        overflow: auto;
        z-index: 11111;

        .user-details {
            display: flex;
            align-items: center;
            border-bottom: solid 1px #a4a4a4;

            img {
                width: 120px;
                height: 110px;
                margin-left: 20px;
            }

            .user-name-tag {
                display: flex;
                flex-direction: column;
                margin-left: 30px;

                .emp-full-name {
                    font-size: 20px;
                    font-weight: 600;
                }

                .emp-user-tag {
                    font-size: 14px;
                    font-weight: 500;
                }

                .emp-user-name {
                    display: flex;
                    align-items: center;
                    font-size: 12px;
                    font-weight: 400;
                    cursor: pointer;
                    color: black;

                    i {
                        font-size: 16px;
                        margin-left: 5px;
                        cursor: pointer;
                        color: #696969;

                        &:hover {
                            color: black;
                        }
                    }
                }
            }
        }

        .user-settings {
            display: flex;
            flex-direction: row;
            width: 100%;

            ul {
                width: 100%;

            }

            .user-settings-links {
                display: block;
                padding: 15px 12px;
                display: flex;
                align-items: center;
                border-left: solid 5px transparent;
                color: #696969;
                font-weight: 600;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background-color: #b4d3e0;
                    border-left: solid 5px #696969;
                    color: black;
                    padding: 15px 20px;
                }

                i {
                    margin-right: 15px;
                    transition: 0.6s;
                }
            }
        }
    }
}

.emp-header-message-panel.show {
    display: block;
}